<% provide(:title, "About") %>
<div class="panel panel-primary">
  <div class="panel-heading">What is AMR?</div>
  <div class="panel-body">
    AMR is Advanced Movie Recommendation system. Its main goal is to help people 
    find movies that they would enjoy to see without so much effort and frustration.
    It has some useful functionality to accomplish its goal. 
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">Useful Functionalities</div>
  <div class="panel-body">
    With the help of its Advanced Search, one can apply variety of filters to search for movies.
    Some of them are range of year, range of IMDB rating, countries and languages.
    Another powerful feature is finding movies that are most similar to each other.
    You can explore some movies while checking your favorites or a random movie.
    They are located right below the movie description. Lastly, its recommendation engine 
    is designed to serve you movies similar to your taste, that you will enjoy to watch. As the system will get to know you better, 
    the number and the quality of the recommendations will increase.
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">Introduce Yourself</div>
  <div class="panel-body">
    As it was mentioned earlier, the better the system knows you, the better it will serve you. 
    If you are asking how you can do that, here are some ways: the best way is to rate movies you have already seen,
    because they tell so much about you. Also adding them to your lists, commenting on them will help.
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">Membership</div>
  <div class="panel-body">
    You do not have to register to get advantage of the system. You can search movies by using advanced search, 
    check them and read comments about all movies. Even seeing similar movies does not require you to be a member.
    However, you should spare less than a minute to sign up 
    in order to get more personalized recommendations and take advantage of the powerful recommendation engine.
  </div>
</div>
