<h1> Your Watchlist(<%= @movies.count %>) </h1>
<% if @movies.count == 0 %>
  <%= render 'shared/warning_panel', msg: "You have not added any movie to your watchlist yet." %>
  <%= render 'shared/info_panel', msg: "Hint: Use searching functionality to find movies you may watch in the future." %>
<% else %>
<%= render 'movies/movies', obj: @movies %>
<% end %>
</ul>
