<h1> Your Watchlist </h1>
<ul>
<% @movies.each do |movie| %>
  <li>
  <%= link_to movie.title, movie %> | 
  <%= link_to "Remove", movie, method: :delete, 
                               data: { confirm: "Are you sure?" } %>
  <hr/>
  </li>
<% end %>
</ul>
