<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>
          <%= comment.user.name %>
        </strong>
        <span class="text-muted">
          commented <%= time_ago_in_words(comment.created_at) %> ago
        </span>
      </div>
      <div class="panel-body">
        <%= comment.comment %>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->
  </div><!-- /col-sm-5 -->
</div><!-- /row -->
