<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.created_at %></td>
  <td>
    <% if current_user.admin? && !current_user?(user) %>
      <%= link_to "delete", user, method: :delete,
        data: { confirm: "Are you sure?" } %>
    <% end %>
  </td>
</tr>
